*{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

:root{
   --primary-color-bg-yellow:   FFD600;
   --bg-color:    linear-gradient(135deg, #c20030, #a00028);
   --bg-color-mn:   #f8f9fa;
   --color:    #2c3e50;

}

body{
  font-family: "Rubik";
}

a{
  text-decoration: none;
  
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #ff1900 !important; /* Use your brand color */
}

.header-top-strip{
  background-color: var(--color)  !important;
}

.majesty-logo{
  color:   green;
}